@model ListCommentViewModel
@{
    ViewBag.Title = "CommentList";
    Layout = null;
}

@foreach (var record in Model.Comments)
{
    <div class="comment-wrap">
        <div class="comment-author flex flex-wrap align-items-center">
            <div>
                <span class="fn">
                    <a href="#">@record.User.UserName</a>
                </span>
                <span class="comment-meta">
                    <a href="#">
                        @record.DateCreated.Date.ToString("MMMM dd yyyy")
                    </a>
                </span>
            </div>

            @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Moderator")))
            {
                <div class="reply">
                    <span> &emsp;</span>
                    <a href="@Url.Action("CommentEdit", "Comment", new { id = record.Id })"> Edit </a>
                </div>
                <div class="reply">
                    <span> &emsp;</span>
                    <a href="@Url.Action("CommentDel", "Comment", new { id = record.Id })"> Delete </a>
                </div>
            }
        </div>
        <p>@record.Body</p>
    </div>
}



