@model CreateCommentViewModel
@{
    ViewBag.Title = "CreateComment";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<div class="comments-form">
    <div class="comment-respond">
        <h3 class="comment-reply-title">Leave a reply</h3>
        @using (Html.BeginForm("CreateComment", "Comment", FormMethod.Post, new { enctype = "Multipart/form-data" }))
        {
            @Html.ValidationSummary(false)
          
            @Html.EditorFor(model => model.Slug, new { htmlAttributes = new { @type = "hidden" } })
        <div class="form-group">
            @Html.TextAreaFor(p => p.Body, new { @class = "form-control", placeholder = "Message", rows = 5, columns = 10 })
            @Html.ValidationMessageFor(input => input.Body, "", new { @class = "text-danger" })
        </div>
            <button type="submit" class="btn btn-default">Submit</button>
        }
    </div>
</div>





